:root {
    --black: #000505;
    --blackFaded: #000505BF;
    --white: #FEFCFD;

    --primary: #004225;
    --secondary: #fefae0;
    --primaryFaded: #004225BF;
    --secondaryFaded: #fefae0BF;

    --background: #FCEDD4;
    
    /* Layout */
    --header-max-width: 1280px;
}

/* section {
    margin: 0 auto;
    max-width: var(--header-max-width);
    padding-inline: 1rem;
} */

.hide-mobile {
    display: none;
}
.hide-desktop {
    display: block;
}

/* Scroll header overrides */
.scroll-header .logo {
    color: var(--primary);
}
.scroll-header .menu-toggle {
    color: var(--primary);
    background-color: hsla(0, 0%, 70%, 0.3);
}

@media (min-width: 768px) {
    /* section {
        padding-inline: 2rem;
    } */
    .hide-mobile {
        display: block;
    }
    .hide-desktop {
        display: none;
    }

    /* Scroll header overrides */
    .scroll-header .scroll-header__nav li.list-link a {
      color: var(--primary);
    }
}