:root {
    --black: #000505;
    --blackFaded: #000505BF;
    --white: #FEFCFD;

    --primary: #283618;
    --secondary: #fefae0;
    --primaryFaded: #283618BF;
    --secondaryFaded: #fefae0BF;

    /* Greens */
    --green-light: #90a955;
    --green-primary: #386641;
    --green-dark: #31572c;

    /* Layout */
    --header-max-width: 1280px;
}

/* section {
    margin: 0 auto;
    max-width: var(--header-max-width);
    padding-inline: 1rem;
} */

.hide-mobile {
    display: none;
}
.hide-desktop {
    display: block;
}

/* Scroll header overrides */
.scroll-header .logo {
    color: var(--primary);
}
.scroll-header .menu-toggle {
    color: var(--primary);
    background-color: hsla(0, 0%, 70%, 0.3);
}

@media (min-width: 768px) {
    /* section {
        padding-inline: 2rem;
    } */
    .hide-mobile {
        display: block;
    }
    .hide-desktop {
        display: none;
    }

    /* Scroll header overrides */
    .scroll-header .scroll-header__nav li.list-link a {
      color: var(--primary);
    }
}