---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
	<div style="height: 200px; border: 1px solid red; width: 100%"></div>
</Layout>