---
  const { id } = Astro.props;
---

<button
  id={`toggle-${id}`}
  class="menu-toggle"
  aria-label="Toggle mobile navigation"
  aria-controls={id}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="menu-toggle__icon"
  >
    <path
      class="icon-path icon-path--open"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>

    <path
      class="icon-path icon-path--close"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18 18 6M6 6l12 12"></path>
  </svg>
</button>

<style lang="scss">
  .menu-toggle {
    border: none;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    height: fit-content;
    background-color: hsla(0, 0%, 100%, 0.3);
    color: var(--secondary);
    gap: 4px;
    padding: 4px 12px;
    z-index: 25;
    min-width: 52px;
    min-height: 36px;
    &__icon {
      height: 28px;
      width: 28px;
      pointer-events: none;
    }
    &:focus-within,
    &:hover {
      background-color: hsla(0, 0%, 75%, 0.3);
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .icon-path--close {
    display: none;
  }

  .is-active {
    background-color: hsla(0, 0%, 25%, 0.3);
    color: var(--primary);
    &:focus-within,
    &:hover {
      background-color: hsla(0, 0%, 10%, 0.3);
    }
    .icon-path--open {
      display: none;
    }
    .icon-path--close {
      display: block;
    }
  }
</style>

<script define:vars={{ id }}>

  const menuToggle = document.querySelector(`#toggle-${id}`);
  const menu = document.querySelector(`#${id}`);

  if (!menuToggle || !menu) return;

  menuToggle.addEventListener("click", function () {
    const isExpanded = menuToggle.getAttribute("aria-expanded") === "true";

    // Update Button state
    menuToggle.setAttribute("aria-expanded", String(!isExpanded));
    menuToggle.classList.toggle("is-active");

    // Update Menu state
    menu.classList.toggle("active");
    menu.hidden = isExpanded;
  });
</script>